
.main-pane {

}

.plate-pane {
    -fx-border-color: black;
}

.side-pane {
    -fx-border-color: black;
    -fx-background-color: dodgerblue;
}

.entry-Labels {
    -fx-font-weight: bold;
}

.bottom-pane {
    -fx-background-color: lightgrey;
}

#barcodeField {
    -fx-background-insets: 0 7 4 9, 0, 0, 0;
    -fx-background-radius: 0;
    -fx-background-color: aliceblue;
    -fx-border-color: black;
    -fx-border-insets: 0 7 4 9, 0, 0, 0;
}

#customerField {
    -fx-background-insets: 0 7 4 9, 1 1 1;
    -fx-background-radius: 0;
    -fx-background-color: aliceblue;
    -fx-border-color: black;
    -fx-border-insets: 0 7 4 9, 0, 0, 0;
}

#loadButton {
    -fx-background-insets: 0px;
    -fx-background-color: skyblue;
    -fx-font-size: 12px;
    -fx-border-color: black;
}

#loadButton:hover {
    -fx-border-color: white;
    -fx-text-fill: white;
}

#importButton {
    -fx-border-color: black;
    -fx-background-color: orangered;
    -fx-background-insets: 1px;
    -fx-border-width: 1px;
    -fx-border-radius: 50px;
    -fx-background-radius: 50px;
}

#importButton:hover {
    -fx-background-color: orange;
}

#acceptButton {
    -fx-border-color: black;
    -fx-background-color: limegreen;
    -fx-background-insets: 1px;
}

#acceptButton:hover {
    -fx-background-color: greenyellow;
}

.menu {
    -fx-background-color: lightgrey;
}

.menu > .button {
    -fx-background-color: lightgrey;
}

.menu > .button:hover {
    -fx-text-fill: darkgrey;
}

.bottom-pane {
    -fx-font-size: 10px;
}